<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/public/stylesheets/index.css">
  <link rel="stylesheet" href="/public/stylesheets/components/news.css">
</head>
<body>
<div class="container">
  <div class="news news-large news-danger <% if (locals.flash && locals.flash.error) { %><%- "activated" %><%}%>" role="alert">
    <p><% if (locals.flash && locals.flash.error) { %><%= flash.error %><%}%></p>
  </div>
  <div class="news news-large news-success <% if (locals.flash && locals.flash.done) { %><%- "activated" %><%}%>" role="alert">
    <p><% if (locals.flash && locals.flash.done) { %><%= flash.done%><%}%></p>
  </div>
  <div class="logo">
    <svg x="0px" y="0px" viewBox="0 0 511.999 511.999" preserveAspectRatio="none">
      <g>
        <g>
          <path d="M459.071,216.925c-2.912-1.106-6.202-0.299-8.271,2.028l-64.129,72.145c-1.962,2.208-2.446,5.361-1.236,8.056
                      c1.21,2.694,3.888,4.427,6.842,4.427h12.156c-9.341,17.492-32.725,53.277-75.93,73.674c-7.549,3.564-15.99,3.14-23.16-1.163
                      c-7.167-4.301-11.51-11.546-11.917-19.879L283.82,159.29h44.328c8.556,0,15.516-6.96,15.516-15.516V111.71
                      c0-4.143-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.357-7.5,7.5v0.516h-47.139l-1.16-23.778c14.233-8.518,23.219-24.104,23.219-40.867
                      C303.583,21.345,282.238,0,256.002,0c-26.236,0-47.581,21.345-47.581,47.581c0,16.749,8.99,32.348,23.219,40.867l-1.16,23.778
                      h-47.14v-0.516c0-4.143-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.357-7.5,7.5v32.064c0,8.556,6.96,15.516,15.516,15.516h44.328
                      l-0.395,8.106c-0.202,4.137,2.989,7.655,7.126,7.857c0.125,0.006,0.248,0.009,0.371,0.009c3.975,0,7.29-3.122,7.485-7.135
                      l0.431-8.837h25.599l9.642,197.653c0.645,13.224,7.815,25.19,19.18,32.011c11.369,6.822,25.306,7.52,37.282,1.865
                      c64.038-30.232,87.454-89.536,88.419-92.046c0.887-2.307,0.582-4.901-0.817-6.938s-3.711-3.254-6.183-3.254h-7.347l39.928-44.918
                      v64.303l-3.548-4.714c-1.727-2.294-4.612-3.4-7.429-2.851c-2.818,0.55-5.074,2.661-5.812,5.436
                      c-20.833,78.42-68.982,109.722-115.546,139.994c-19.256,12.519-37.686,24.516-53.069,39.324v-92.88c0-4.143-3.358-7.5-7.5-7.5
                      c-4.142,0-7.5,3.357-7.5,7.5v92.88c-15.383-14.809-33.813-26.806-53.069-39.324c-46.563-30.272-94.713-61.574-115.546-139.994
                      c-0.737-2.775-2.994-4.886-5.812-5.436c-2.817-0.548-5.702,0.557-7.429,2.851l-3.548,4.714v-64.303l39.928,44.918h-7.347
                      c-2.471,0-4.784,1.217-6.183,3.254c-1.399,2.037-1.705,4.632-0.817,6.938c0.966,2.51,24.382,61.813,88.419,92.046
                      c11.977,5.654,25.914,4.956,37.282-1.865c11.365-6.82,18.535-18.787,19.18-32.011l7.738-158.637
                      c0.202-4.138-2.989-7.655-7.126-7.856c-4.133-0.203-7.654,2.988-7.856,7.125l-7.738,158.637
                      c-0.406,8.333-4.75,15.579-11.917,19.879c-7.17,4.303-15.611,4.727-23.16,1.163c-43.208-20.399-66.593-56.188-75.931-73.674
                      h12.156c2.954,0,5.632-1.733,6.842-4.427c1.21-2.694,0.726-5.848-1.236-8.056l-64.129-72.145
                      c-2.068-2.328-5.361-3.134-8.271-2.028c-2.911,1.107-4.834,3.897-4.834,7.011v106.464c0,3.226,2.062,6.091,5.122,7.113
                      c3.059,1.022,6.431-0.025,8.37-2.603l8.096-10.756c24.285,73.608,73.681,105.719,117.57,134.252
                      c24.167,15.711,46.995,30.552,62.847,50.728c1.422,1.81,3.596,2.866,5.897,2.866c2.301,0,4.476-1.057,5.897-2.866
                      c15.853-20.176,38.68-35.016,62.847-50.728c43.889-28.533,93.285-60.645,117.57-134.252l8.096,10.756
                      c1.94,2.578,5.312,3.625,8.37,2.603c3.06-1.022,5.122-3.887,5.122-7.113V223.936C463.905,220.822,461.981,218.032,459.071,216.925
                      z M223.423,47.582C223.421,29.615,238.037,15,256.002,15c17.965,0,32.581,14.615,32.581,32.581
                      c0,10.375-5.035,20.083-13.198,26.165c-4.451-5.858-11.486-9.616-19.382-9.616c-7.896,0-14.93,3.758-19.381,9.615
                      C228.46,67.662,223.423,57.948,223.423,47.582z M266.505,112.226h-21.007l1.182-24.218c0.243-4.979,4.338-8.879,9.322-8.879
                      c4.984,0,9.08,3.9,9.322,8.879L266.505,112.226z M183.857,144.29c-0.285,0-0.516-0.231-0.516-0.516v-16.549h145.322v16.549
                      c0,0.284-0.231,0.516-0.516,0.516H183.857z"/>
        </g>
      </g>
      <g>
        <g>
          <path d="M256.002,336.678c-4.142,0-7.5,3.357-7.5,7.5v16.032c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-16.032
			C263.502,340.035,260.144,336.678,256.002,336.678z"/>
        </g>
      </g>
    </svg>
    <h1>якорь</h1>
  </div>
  <div class="content">
    <form class="content-form" action="/connection" method="post">
      <h1>Se <b>connecter</b></h1>
      <div class="grid">
        <div class="input-group">
          <label hidden>Identifiant</label>
          <input class="input-form" type="text" name="login" placeholder="Identifiant"/>
        </div>
        <br/>
        <br/>
        <div class="input-group">
          <label hidden>Mot de passe</label>
          <input class="input-form" type="password" name="password" placeholder="Mot de passe"/>
        </div>
      </div>
      <button class="button-form" type="submit">Connexion</button>
    </form>
  </div>
</div>
</body>
<script>
  let content = document.querySelector(".content")
  let inputs = document.querySelectorAll("input")
  let indexPicture = Math.round(Math.random() * 5 + 1)
  content.style.background = '#000 url("/public/images/city-' + indexPicture + '.jpg") no-repeat right top'
  for(let i = 0; i < inputs.length; i++) {
    let placeholder = inputs[i].getAttribute('placeholder')
    inputs[i].addEventListener('focus', function() {
      inputs[i].setAttribute('placeholder', '')
    })
    inputs[i].addEventListener('blur', function() {
      inputs[i].setAttribute('placeholder', placeholder)
    })
  }
</script>
<script src="/public/javascripts/jquery.js"></script>
<script src="/public/javascripts/bootstrap.min.js"></script>
</html>
